<!-- top tiles -->
<div class="row">
    <div class="tile_count  mt-5">
        <div class="col-md-1 col-sm-4  tile_stats_count ">
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i>Total Pacientes</span>
            <div class="count">@Model.TotalPacientes</div>
            @* <span class="count_bottom"><i class="text-green">4% </i> From last Week</span> *@
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Total Mutuales</span>
            <div class="count">@Model.TotalMutuales</div>
            @* <span class="count_bottom"><i class="text-green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span> *@
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Médicos</span>
            <div class="count text-green">@Model.TotalMedicos</div>
            @* <span class="count_bottom"><i class="text-green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> *@
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Consultas</span>
            <div class="count">@Model.TotalConsultas</div>
            @*       <span class="count_bottom"><i class="text-red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span> *@
        </div>

        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Diagnósticos</span>
            <div class="count">@Model.TotalDiagnosticos</div>
            @* <span class="count_bottom"><i class="text-green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> *@
        </div>
        <div class="col-md-1 col-sm-4  tile_stats_count">
        </div>
    </div>
</div>
<!-- /top tiles -->
<div class="row  m-5">
    <div class="col-md-12 col-sm-12">
        <div class="clearfix"></div>
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-lg-1 col-sm-6 ">
                </div>
                <div class="col-lg-2 col-sm-6 ">
                    <div class="card" style="background-color:transparent; border-color:lightcoral ;border-radius: 50%; border-width:3px;  width: 150px;  height: 150px;">
                        <div class="circle-tile mt-5 ">
                            <a href="/Paciente/index"><i class="fa fa-users fa-fw fa-3x"></i>@* </div> *@</a>
                            <div class="  tile_stats_count">
                                <span class="count_top">Pacientes</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="card" style="background-color:transparent; border-color:lightblue ;border-radius: 50%; border-width:3px;  width: 150px;  height: 150px;">
                        <div class="circle-tile mt-5 ">
                            <a href="/Mutual/index"><i class="fa fa-users fa-fw fa-3x"></i></a>
                            <div class="  tile_stats_count">
                                <span class="count_top">Mutuales</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="card" style="background-color:transparent; border-color:lightgreen ;border-radius: 50%; border-width:3px;  width: 150px;  height: 150px;">
                        <div class="circle-tile mt-5 ">
                            <a href="/Medico/index"><i class="fa fa-users fa-fw fa-3x"></i></a>
                            <div class="  tile_stats_count">
                                <span class="count_top">Médicos</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="card" style="background-color:transparent; border-color:lightseagreen ;border-radius: 50%; border-width:3px;  width: 150px;  height: 150px;">
                        <div class="circle-tile mt-5 ">
                            <a href="/Consulta/index"><i class="fa fa-users fa-fw fa-3x"></i></a>
                            <div class="  tile_stats_count">
                                <span class="count_top">Turnos</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="card" style="background-color:transparent; border-color:aqua ;border-radius: 50%; border-width:3px;  width: 150px;  height: 150px;">
                        <div class="circle-tile mt-5 ">
                            <a href="/Diagnostico/index"><i class="fa fa-users fa-fw fa-3x"></i></a>
                            <div class="  tile_stats_count">
                                <span class="count_top">Diagnósticos</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-6 ">
                </div>

            </div>

            @*     <div class="col-lg-2 col-sm-6">
            <div class="circle-tile ">
            <a href="/Mutual/index"><div class="circle-tile-heading red fa-align-center"><i class="fa fa-user fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content red rounded-lg">
            <div class="circle-tile-description text-faded text-center"> Mutuales </div>
            <div class="circle-tile-number text-faded text-center">@Model.TotalMutuales </div>
            <a class="circle-tile-footer" href="/Mutual/index">Entrar...<i class="fa fa-chevron-circle-right"></i></a>
            </div>
            </div>
            </div>

            <div class="col-lg-2 col-sm-6">
            <div class="circle-tile ">
            <a href="/Medico/index"><div class="circle-tile-heading greenL fa-align-center"><i class="fa fa-book fa-fw fa-3x"></i></div></a>

            <div class="circle-tile-content green rounded-lg">
            <div class="circle-tile-description text-faded text-center"> Médicos </div>
            <div class="circle-tile-number text-faded text-center">@Model.TotalMedicos</div>
            <a class="circle-tile-footer" href="/Medico/index">Entrar...<i class="fa fa-chevron-circle-right"></i></a>
            </div>
            </div>
            </div>


            <div class="col-lg-2 col-sm-6">
            <div class="circle-tile ">
            <a href="/Consulta/index">
            <div class="circle-tile-heading blue fa-align-center">
            <i class="fa fa-book fa-fw fa-3x"></i>
            </div>
            </a>

            <div class="circle-tile-content blue rounded-lg">
            <div class="circle-tile-description text-faded text-center"> Consultas</div>
            <div class="circle-tile-number text-faded text-center">@Model.TotalConsultas</div>
            <a class="circle-tile-footer" href="/Consulta/index">Entrar...<i class="fa fa-chevron-circle-right"></i></a>
            </div>
            </div>
            </div>

            <div class="col-lg-2 col-sm-6">
            <div class="circle-tile ">
            <a href="/socio/index"><div class="circle-tile-heading dark-gray fa-align-center"><i class="fa fa-book fa-fw fa-3x"></i></div></a>

            <div class="circle-tile-content dark-gray rounded-lg">
            <div class="circle-tile-description text-faded text-center"> Socios </div>
            <div class="circle-tile-number text-faded text-center"></div>
            <a class="circle-tile-footer" href="#">Entrar...<i class="fa fa-chevron-circle-right"></i></a>
            </div>
            </div>
            </div>

            <div class="col-lg-2 col-sm-6">
            <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading dark-gray fa-align-center"><i class="fa fa-book fa-fw fa-3x"></i></div></a>

            <div class="circle-tile-content dark-gray rounded-lg">
            <div class="circle-tile-description text-faded text-center"> Socios </div>
            <div class="circle-tile-number text-faded text-center">0</div>
            <a class="circle-tile-footer" href="#">Entrar...<i class="fa fa-chevron-circle-right"></i></a>
            </div>
            </div>
            </div> *@
        </div>
    </div>
</div>


<br />

<div class="row">
</div>